.DS_Store
log/*.log
tmp/*/*
db/*.sqlite3
public/system/photos/*
public/stylesheets/global.css
public/stylesheets/handheld.css
public/stylesheets/ie.css
public/stylesheets/print.css
public/stylesheets/screen.css
mkmf.log